*{
    margin: 0px;
    padding: 0px;
}

.pagina{
    background-color: rgba(255, 255, 255, 0.505);
}

.nav>li {
    float: left;
}

.menu>li{
    margin: 0px;
}

.nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    display: inline;
}

.nav li a:hover {
    background-color: rgba(255, 255, 255, 0.505);
}

.nav li ul {
    display: none;
    position: absolute;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
    display: inline;
    font-size: large;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

img {
    width: 130px;
}

.container {
    width: 100%;
    flex-wrap: wrap;
}

.container>div {
    flex-direction: column;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

p {
    visibility: hidden;
    transition: visibility 0s, opacity 1s linear;
    opacity: 0;
    position: absolute;
    text-align: justify;
    background-color: rgba(176, 171, 171, 0.664);
    padding: 5px;
}

.container>div:hover p {
    position: relative;
    visibility: visible;
    opacity: 1;
    cursor:pointer
}

.claseUno {
    width: 220px;
    height: 90px;
    margin: 20px;
}

.claseDos {
    width: 220px;
    height: 90px;
    margin: 20px;
}

.claseTres {
    width: 220px;
    height: 90px;
    margin: 20px;
}

.claseCuatro {
    width: 220px;
    height: 90px;
    margin: 20px;
}

@media screen and (max-width: 679px) {
    .nav li ul li {
        font-size: 12px;
        margin: 3px;
    }

    main {
        width: 100%;
        height: 86vh;
    }

    img {
        width: 90px;
    }

    p{
        font-size: 8px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .claseUno{
        width: 100px;
        height: 50px;
        margin: 50px;
    }

    .claseDos{
        width: 100px;
        height: 50px;
        margin: 50px;
    }

    .claseTres{
        width: 100px;
        height: 50px;
        margin: 50px;
    }

    .claseCuatro{
        width: 100px;
        height: 50px;
        margin: 50px;
    }
}

@media screen and (min-width:680px) and (max-width: 1100px){
    .nav li ul li {
        font-size: 16px;
        margin: 7px;
    }

    main {
        width: 100%;
        height: 80vh;
    }

    img {
        width: 130px;
    }

    p{
        font-size: 11px;
    }

    .claseUno{
        width: 150px;
        height: 50px;
        margin: 70px 60px;
    }

    .claseDos{
        width: 150px;
        height: 50px;
        margin: 70px 60px;
    }

    .claseTres{
        width: 150px;
        height: 50px;
        margin: 70px 60px;
    }

    .claseCuatro{
        width: 150px;
        height: 50px;
        margin: 70px 60px;
    }

}